{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <h1>Skapa WordPress-sida från HTML</h1>
</div>
<div class="well">
  <form role="form" action="{{ url_for('index') }}" method="post">
    <div class="form-group">
      <label for="url">URL</label>
      <input name="url" type="url" class="form-control" id="url" placeholder="Länk till den gamla HTML-undersidan">
    </div>
    <div class="form-group">
      <label for="title">Ny WordPress-titel</label>
      <input name="title" type="text" class="form-control" id="title" placeholder="Titeln som sidan ska ha i WordPress">
    </div>
    <div class="form-group">
      <label for="publish">
        <input type="checkbox" id="publish" name="publish" value="true"{% if publish %} checked{% endif %}> Publicera sidan
      </label>
      <p class="help-block">Alternativet är att sidan får statusen "Utkast".</p>
    </div>
    <div class="form-group">
      <label for="delete_links">Radera länkar till</label>
      <input name="delete_links" type="text" class="form-control" id="delete_links" placeholder="Lista filnamn på undersidor som ska raderas" value="{{ delete_links }}">
      <p class="help-block">Separera filnamnen med kommetecken. Exempel: index.htm, page.htm</p>
    </div>
    <div class="form-group">
      <label for="remove_new_window_link">
        <input type="checkbox" id="remove_new_window_link" name="remove_new_window_link" value="true"{% if remove_new_window_link %} checked{% endif %}> Ta bort "Öppna sidan i ett nytt fönster"
      </label>
    </div>
    <div class="form-group">
      <label for="cookies">Kakor</label>
      <input name="cookies" type="text" class="form-control" id="cookies" placeholder="Kakor som ska skickas med" value="{{ cookies }}">
      <p class="help-block">Exempel: namn=content; namn2=content2;</p>
    </div>
    <button type="submit" class="btn btn-default">Skapa</button>
  </form>
</div>
{% endblock %}
